html,
body,
#__nuxt {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
}

::selection {
    color: rgb(var(--v-theme-secondary));
    background-color: rgb(var(--v-theme-highlight));
}

.user-select-none {
    user-select: none;
}

.text-transform-none {
    text-transform: none;
}
